* text=auto
*.jpg -text
*.png -text
*.gif -text
*.doc -text
*.docx -text
*.pdf -text
*.xls -text
*.xlsx -text
*.ppt -text
*.pptx -text
*.exe -text
*.dll -text
*.bin -text
*.zip -text
*.rar -text
*.7z -text
*.tar -text
